.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dex-title {
  margin: 1em;
}

.pokemon {
  position: relative;
  padding: 2em;
  text-align: center;
}

.info {
  background-color: rgb(50, 89, 178);
  color: #f3f3f3;
  padding: 0.5em 1.5em;
  margin: 20px auto;
  border: none;
  font-size: 14px;
}

.release {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  padding: 0 6px;
  background-color: crimson;
  color: #f3f3f3;
  font-size: 22px;
  cursor: pointer;
}
